@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.p-1 {
  padding: 6px;
}

.p-2 {
  padding: 12px;
}

.p-3 {
  padding: 18px;
}

.p-4 {
  padding: 24px;
}

.p-5 {
  padding: 30px;
}

.p-6 {
  padding: 36px;
}

.p-7 {
  padding: 42px;
}

.p-8 {
  padding: 48px;
}

.p-9 {
  padding: 54px;
}

.pl-1 {
  padding-left: 6px;
}

.pl-2 {
  padding-left: 12px;
}

.pl-3 {
  padding-left: 18px;
}

.pl-4 {
  padding-left: 24px;
}

.pl-5 {
  padding-left: 30px;
}

.pl-6 {
  padding-left: 36px;
}

.pl-7 {
  padding-left: 42px;
}

.pl-8 {
  padding-left: 48px;
}

.pl-9 {
  padding-left: 54px;
}

.pr-1 {
  padding-right: 6px;
}

.pr-2 {
  padding-right: 12px;
}

.pr-3 {
  padding-right: 18px;
}

.pr-4 {
  padding-right: 24px;
}

.pr-5 {
  padding-right: 30px;
}

.pr-6 {
  padding-right: 36px;
}

.pr-7 {
  padding-right: 42px;
}

.pr-8 {
  padding-right: 48px;
}

.pr-9 {
  padding-right: 54px;
}

.pt-1 {
  padding-top: 6px;
}

.pt-2 {
  padding-top: 12px;
}

.pt-3 {
  padding-top: 18px;
}

.pt-4 {
  padding-top: 24px;
}

.pt-5 {
  padding-top: 30px;
}

.pt-6 {
  padding-top: 36px;
}

.pt-7 {
  padding-top: 42px;
}

.pt-8 {
  padding-top: 48px;
}

.pt-9 {
  padding-top: 54px;
}

.pb-1 {
  padding-bottom: 6px;
}

.pb-2 {
  padding-bottom: 12px;
}

.pb-3 {
  padding-bottom: 18px;
}

.pb-4 {
  padding-bottom: 24px;
}

.pb-5 {
  padding-bottom: 30px;
}

.pb-6 {
  padding-bottom: 36px;
}

.pb-7 {
  padding-bottom: 42px;
}

.pb-8 {
  padding-bottom: 48px;
}

.pb-9 {
  padding-bottom: 54px;
}

.m-1 {
  margin: 6px;
}

.m-2 {
  margin: 12px;
}

.m-3 {
  margin: 18px;
}

.m-4 {
  margin: 24px;
}

.m-5 {
  margin: 30px;
}

.m-6 {
  margin: 36px;
}

.m-7 {
  margin: 42px;
}

.m-8 {
  margin: 48px;
}

.m-9 {
  margin: 54px;
}

.ml-1 {
  margin-left: 6px;
}

.ml-2 {
  margin-left: 12px;
}

.ml-3 {
  margin-left: 18px;
}

.ml-4 {
  margin-left: 24px;
}

.ml-5 {
  margin-left: 30px;
}

.ml-6 {
  margin-left: 36px;
}

.ml-7 {
  margin-left: 42px;
}

.ml-8 {
  margin-left: 48px;
}

.ml-9 {
  margin-left: 54px;
}

.mr-1 {
  margin-right: 6px;
}

.mr-2 {
  margin-right: 12px;
}

.mr-3 {
  margin-right: 18px;
}

.mr-4 {
  margin-right: 24px;
}

.mr-5 {
  margin-right: 30px;
}

.mr-6 {
  margin-right: 36px;
}

.mr-7 {
  margin-right: 42px;
}

.mr-8 {
  margin-right: 48px;
}

.mr-9 {
  margin-right: 54px;
}

.mt-1 {
  margin-top: 6px;
}

.mt-2 {
  margin-top: 12px;
}

.mt-3 {
  margin-top: 18px;
}

.mt-4 {
  margin-top: 24px;
}

.mt-5 {
  margin-top: 30px;
}

.mt-6 {
  margin-top: 36px;
}

.mt-7 {
  margin-top: 42px;
}

.mt-8 {
  margin-top: 48px;
}

.mt-9 {
  margin-top: 54px;
}

.mb-1 {
  margin-bottom: 6px;
}

.mb-2 {
  margin-bottom: 12px;
}

.mb-3 {
  margin-bottom: 18px;
}

.mb-4 {
  margin-bottom: 24px;
}

.mb-5 {
  margin-bottom: 30px;
}

.mb-6 {
  margin-bottom: 36px;
}

.mb-7 {
  margin-bottom: 42px;
}

.mb-8 {
  margin-bottom: 48px;
}

.mb-9 {
  margin-bottom: 54px;
}

.text-grey {
  color: #3d4152;
}

.text-pumkin {
  color: #FC8019;
}

.text-lite {
  color: #fff;
}

.text-dark {
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  font-size: 14px;
  color: #3d4152;
}

.maincontainer {
  width: 100%;
  height: 100vh;
}
.maincontainer .container-head {
  width: 100%;
  height: 70px;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 6px rgb(222, 217, 217);
}
.maincontainer .container-head .container-logo {
  display: flex;
  align-items: center;
}
.maincontainer .container-head .container-logo .s-l {
  padding: 6px;
}
.maincontainer .container-head .container-logo .s-l img {
  transition: 0.8s;
}
.maincontainer .container-head .container-logo .s-l img:hover {
  transform: scale(1.1);
  z-index: 1;
}
.maincontainer .container-head .container-logo p {
  font-weight: bold;
  padding: 15px;
  margin: 0;
}
.maincontainer .container-head .container-list {
  padding: 15px;
  display: flex;
}
.maincontainer .container-head .container-list ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-weight: 500;
}
.maincontainer .container-head .container-list ul a:hover span,
.maincontainer .container-head .container-list ul a:hover i {
  color: #FC8019;
  transition: 0.5s;
}
.maincontainer .container-head .container-list ul a {
  text-decoration: none;
  margin-right: 40px;
  color: #3d4152;
  font-weight: 600;
}
.maincontainer .container-body {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.maincontainer .container-body .bodydiv1 {
  display: flex;
  justify-content: center;
}
.maincontainer .container-body .bodydiv2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.maincontainer .container-body .bodydiv2 p {
  margin: 0;
}
.maincontainer .container-body .bodydiv2 .line1 {
  margin-top: 15px;
  font-weight: bolder;
  font-size: 20px;
}
.maincontainer .container-body .bodydiv2 .line2 {
  font-size: 13px;
  margin-bottom: 15px;
}
.maincontainer .container-button {
  display: flex;
  justify-content: center;
}
.maincontainer .container-button button {
  padding: 8px 30px;
  border: none;
  background-color: #FC8019;
}
.maincontainer .container-button button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 560px) {
  .maincontainer .container-head {
    padding: 0px;
  }
  .maincontainer .container-list ul a {
    margin: 0px;
  }
  .maincontainer .container-list ul a span {
    display: none;
  }
  .maincontainer .container-body .bodydiv1 img {
    height: 200px;
    width: 200px;
  }
}

/*# sourceMappingURL=cartstyle.css.map */
